<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CONEXIONBD.Properties.Settings.Conexion" connectionString="Data Source=DESKTOP-0LCA87Q\SQLSERVER;Initial Catalog=Ejercicio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>